<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>欢迎来到邮箱系统</title>
    <link th:href="@{./js/layui/css/layui.css}" rel="stylesheet"/>
    <script th:src="@{./js/layui/layui.all.js}"></script>
    <style>
        .layui-form{
            float: right;
            margin-top: 20%;
        }

        a.button {
            -webkit-appearance: button;
            -moz-appearance: button;
            appearance: button;

            text-decoration: none;
            color: initial;
        }
    </style>
</head>
<body>
<form class="layui-form" action="./authentication/login" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">邮箱</label>
        <div class="layui-input-inline">
            <input type="text" name="username" required  lay-verify="required" placeholder="请输入邮箱账号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input type="password" name="password" required lay-verify="required" placeholder="请输入邮箱密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">登录</button>
            <!--<form action="./register" method="get">-->
                <!--<button type="submit" class="layui-btn layui-btn-primary">注册</button>-->
            <!--</form>-->

            <input type="button" class="layui-btn layui-btn-primary" id="button" value="前往注册" onclick="window.location.href='./register'"/>
        </div>
    </div>
    <div>
        <div>
            <input id="flag" type="hidden" th:value="${session.isFailed}">
        </div>
    </div>
</form>

<script>

    //Demo
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer,
            form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function(data){
            form.msg(JSON.stringify(data.field));
            return false;
        });
    });

    var isFailed = document.getElementById("flag");
    if (isFailed.value == "") {
        console.log("空");
    } else {
        console.log("有");
        // var layer = layui.layer;
        layer.msg("登录失败");
    }
</script>
</body>
</html>